<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="text-gray-700 bg-cover bg-[url('https://images.pexels.com/photos/1323550/pexels-photo-1323550.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1')]">
        <nav class="fixed bg-white w-full z-10 border-b border-solid border-gray-300">
          <div class="container mx-auto px-6 py-2 flex justify-between items-center">
            <a href="#" class="font-bold text-2xl lg:text-4xl">
              MACHINERY
            </a>
            <div class="block md:hidden">
              <button class="flex items-center px-3 py-2 border rounded text-gray-500 boder-gray-600 hiver:text-gray-800">
                <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://wwww.w3.org/2000/svg">
                  <title>Menu</title>
                  <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
                </svg>
              </button>
            </div>
            <div class="hidden md:block">
              <ul class="inline-flex">
                <li>
                  <a href="{% url 'index' %}" class="px-4 font-bold hover:text-gray-800">
                    Home
                  </a>
                </li>
                <li>
                  <a href="{% url 'problem_statement' %}" class="px-4 font-bold hover:text-gray-800">
                    Problem statement
                  </a>
                </li>
                <li>
                  <a href="{% url 'model' %}" class="px-4 font-bold hover:text-gray-800">
                    Model
                  </a>
                </li>
                <li>
                  <a href="{% url 'model_database' %}" class="px-4 font-bold hover:text-gray-800">
                    Model Database
                  </a>
                </li>
                {% if user.is_authenticated %}
                <li>  
                    <a href="{% url 'logout' %}" class=" hover:text-gray-800">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15m3 0l3-3m0 0l-3-3m3 3H9" />
                        </svg>
                    </a>
                </li>
                {% endif %}
              </ul>
            </div>
          </div>
        </nav>
        <nav>
          <div class="container mx-auto px-6 py-2 flex justify-between items-center">
            <a href="#" class="font-bold text-2xl lg:text-4xl">
              TAILWIND
            </a>
            <div class="block md:hidden">
              <button class="flex items-center px-3 py-2 border rounded text-gray-500 boder-gray-600 hiver:text-gray-800">
                <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://wwww.w3.org/2000/svg">
                  <title>Menu</title>
                  <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
                </svg>
              </button>
            </div>
            <div class="hidden md:block">
              <ul class="inline-flex">
                <li>
                  <a href="#" class="px-4 font-bold hover:text-gray-800">
                    Home
                  </a>
                </li>
                <li>
                  <a href="#" class="px-4 hover:text-gray-800">
                    About
                  </a>
                </li>
                <li>
                  <a href="#" class="px-4 hover:text-gray-800">
                    Contact
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <div class="py-20 hero">
          <div class="container mx-auto px-6">
            <div class="text-4xl font-bold mb-2 text-white">
              Machine Failure prediction
            </div>
            <div class="text-2xl mb-8 text-dark">
                Machine failures disrupt productivity, causing downtime and financial losses. Preventive maintenance and monitoring are crucial for minimizing these disruptions and ensuring operational efficiency.
            </div>
            <button class="transform hover:scale-110 transition duration-300 ease-in-out bg-white font-bold rounded-full py-6 px-8 shadow-lg uppercase tracking-wider">
              Get Started
            </button>
          </div>
        </div>
        <section class="container mx-auto px-6 py-10">
          <h2 class="text-4xl font-bold text-center text-gray-800 mb-0">
            How Industrial machine works
          </h2>
          <div class="flex items-center flex-wrap mb-10">
            <div class="w-full md:w-1/2 px-4">
              <h4 class="text-3xl text-gray-800 font-bold mb-3">
                1. Machine Failure Problems
              </h4>
              <p class="text-gray-600 mb-8">
                Machine failures in the industrial sector pose significant challenges. They result in costly downtime, hamper production schedules, and can lead to product defects. Identifying and addressing root causes, such as wear and tear, lack of maintenance, or software glitches, is essential to prevent recurrent failures. Predictive maintenance and data analytics are increasingly used to anticipate breakdowns and optimize machine reliability. Implementing a robust maintenance strategy and investing in modern technologies can mitigate the impact of machine failures, ensuring smoother operations and higher efficiency in industries.
              </p>
            </div>
            <div class="w-full md:w-1/2 px-4">
                <iframe style="border-radius: 5px;" width="560" height="315" src="https://www.youtube-nocookie.com/embed/-j1lWspIo4c?si=5ioqzAfZkaNcdUP2" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
          </div>
          <div class="flex items-center flex-wrap mb-20">
            <div class="w-full md:w-1/2 px-4">
                <iframe style="border-radius: 5px;" width="560" height="315" src="https://www.youtube-nocookie.com/embed/ltqLI9WTL-Y?si=Ro2CW8Ifh9ts5nMP" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
            <div class="w-full md:w-1/2 px-4">
              <h4 class="text-3xl text-gray-800 font-bold mb-3">
                Preventions of machine failures
              </h4>
              <p class="text-gray-600 mb-8">
                While you can do a lot with just utility classes, as a project grows it can be useful to codify common patterns into higher level abstractions.
              </p>
            </div>
          </div>
          
            
          </div>
        </section>
        
        
      </div>
{% block content %}
{% endblock %}
</body>
</html>